.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

    
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.cart-container{
    background-color:lightblue;
    margin: 10px;
    padding: 5px;
    
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    /* grid-template-rows:repeat(2,1fr) ; */
    height: 50%;
    position: sticky;
    top: 0;

}

@media screen and (max-width: 992px) {

    .shop-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
    
        
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
  }

@media screen and (max-width: 600px) {

    .shop-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        
    }
    .product-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
  }