

.choose-lucky-btn{
    padding: 7px;
    margin-bottom:  10px;
    border: 1px solid blue;
    width: 100%;
    border-radius: 10px;
    
}
.choose-again-btn{
    padding: 7px;
    /* margin: 0 10px; */
    border: 1px solid rgb(25, 25, 233);
    /* background-color: rgba(14, 160, 14,0.3); */
    width: 100%;
    border-radius: 10px;

}
.choose-again-btn:hover{
    background-color: green;
}
.choose-lucky-btn:hover{
    background-color: green;
}
.cart-item-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.btn{
    margin-top: 50px;
    
}