.product img{
    height:300px;
    width: 280px;
    padding: 10px;
    border: 1px solid white;
}

.product{
    border-radius: 10px;
    padding: 0 10px;
    margin: 20px;
    position: relative;
    background-color: white;
    /* box-shadow: 10px 10px 5px #888888; */

}

.product:hover{

    box-shadow: 2px 2px 5px #4b4a4a;
    /* border: 1px solid blue; */
}

.cart-btn{
    border: none;
    background-color: skyblue;
    bottom: 6px;
    height: 45px;
    width: 93%;
    padding-right: 10px;
    border-radius: 10px;
    position: absolute;
    color: white;
}

.cart-btn:hover{background-color: blue;}

.product-description{
    padding-top: 5px;
    padding-bottom: 50px;
}

.buy-btn{
    margin-left:-15px;
}